<div class="home-callout text-center container-fluid">
  <h1>Welcome to PicServer</h1>
  <h3>Download the images of the vehicle you purchased.</h3>
</div>
<div class="container home-search-link">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Search for images</h2>
        <h4>Enter the invoice number and the load number to retrieve images of the item.</h4>
        <br/>
        <%= link_to "Search", "#", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Sign up for Membership</h2>
        <h4>Sign up and get unlimited access to images for items you purchased.</h4>
        <br/>
        <%= link_to "Sign Up", new_user_registration_path(plan: @pro_plan), class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>